{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-3 mb-3 d-sm-block d-none">
           <div class="list-group">
               {% for i in categories %}
                    <a href="" class="list-group-item list-group-item-action">{{i.title}}</a>
               {% endfor %}
              
           </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
              
                {% for item in object_list %}
                        <div class="col-lg-3 mb-3">
                            <div class="card shadow">
                                <img src="{{item.image.url}}" class="card-img-top" alt="" style="height:270px;">
                                <div class="card-body">
                                    <h6>{{ item.get_category_display }}</h6>
                                    <h6>
                                        <a href="{{ item.get_absolute_url }}" class="text-truncate text-capitalize text-decoration-none">{{item.title}}</a>
                                    </h6>
                                  
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}